:root {
  --font-size-base: 0.889rem;
  --line-height-base: 0.999rem;
  /* ~14px */
  --space-xl: 1.5rem;
  /* 1.5 * 16px = 24px */
  --space-l: 1rem;
  /* 1 * 16px = 16px */
  --space-m: 0.75rem;
  /* 0.75 * 16px = 12px */
  --space-s: 0.5rem;
  /* 0.5 * 16px = 8px */
  --space-xs: 0.25rem;
  /* 0.25 * 16px = 4px */
}

p {
  margin: 0;
}

.help p {
  margin: 0 0 0.25rem;
}

sub,
sup {
  font-size: 75% !important;
}

sup {
  top: 0;
}

.page-content {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.content-header {
  margin-bottom: var(--space-xs);
  padding: var(--space-m) 0 0;
}

.form-item {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.form-item__description {
  margin-top: 2px;
  margin-bottom: 0;
}

.form-element {
  min-height: 2rem;
  padding: var(--space-xs);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.form-element--type-select {
  padding-right: calc(2rem - 1px);
}

.form-actions,
.form-actions .button,
.form-actions .action-link {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.action-link {
  padding: var(--space-s) var(--space-m);
  line-height: 1rem;
}

.button {
  margin: 0 var(--space-s) 0 0;
  padding: var(--space-s) var(--space-m);
}

.messages {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  padding: var(--space-s) var(--space-m);
}

.messages-list {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.messages__header {
  margin-bottom: 0;
}

.tabs__link {
  min-height: 0;
  padding: var(--space-s);
}

.is-horizontal .tabs__link {
  padding-right: var(--space-m);
  padding-left: var(--space-m);
}

.is-horizontal .tabs__link:focus {
  min-height: 0;
  padding-right: var(--space-m);
  padding-left: var(--space-m);
  margin: 0;
}

.card__content-wrapper {
  padding: var(--space-m);
}

.claro-details {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.claro-details__summary {
  padding: var(--space-s) var(--space-m) var(--space-s) 2.25rem;
}

.claro-details__wrapper {
  margin: 0 var(--space-s);
}

.claro-details__content--accordion,
.claro-details__content--accordion-item,
.claro-details__content--vertical-tabs-item {
  margin: var(--space-m);
}

.local-actions {
  margin: var(--space-m) 0;
  padding: 0;
}

.views-exposed-form.views-exposed-form {
  margin-top: var(--space-s) !important;
  margin-bottom: var(--space-s) !important;
  padding: var(--space-s) !important;
}

.views-exposed-form__item.views-exposed-form__item {
  margin-top: 0 !important;
}

.views-exposed-form__item.views-exposed-form__item:has(.button) {
  margin-top: 1.5rem !important;
}

table {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

th,
td {
  height: 0;
  padding: 2px;
}

tr .form-item,
.container-inline .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.fieldset {
  margin-top: 8px;
  margin-bottom: 8px;
}

.fieldset:not(.fieldset--group) {
  padding: var(--space-s);
}

.fieldset__label {
  padding: 0;
  margin: var(--space-s) 0;
}

.fieldset__wrapper {
  padding: 0;
  margin: 0;
}

.panel {
  margin-top: var(--space-s);
  margin-bottom: var(--space-m);
  padding: 0;
}

.panel__title {
  margin: 0;
  padding: var(--space-s);
}

.admin-item {
  padding: var(--space-s) var(--space-m) var(--space-s) var(--space-l);
}

.admin-item__description {
  margin: 0;
}

.system-status-general-info,
.system-status-report {
  padding-top: 0;
}

.system-status-report-counters__item {
  margin: var(--space-s) 0 !important;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.system-status-general-info__header {
  padding: var(--space-m) 0 var(--space-s);
}

.system-status-general-info__item {
  margin-bottom: var(--space-m);
  padding: var(--space-s);
}

.system-status-report__status-title {
  padding: var(--space-s) var(--space-s) var(--space-s) 2em !important;
}

.system-status-report__status-title .details-title:before,
.details .system-status-report__status-icon:before {
  top: 0.5rem;
  left: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.system-status-report__entry__value {
  padding: var(--space-s) !important;
}

.vertical-tabs__menu-link {
  padding: var(--space-s) var(--space-s) var(--space-s) var(--space-m) !important;
}

.entity-meta__header {
  padding: var(--space-s) var(--space-m);
}

.entity-meta__header .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.views-ui-display-tab-bucket__header {
  padding: 0 var(--space-l);
}

.views-ui-display-tab-bucket .views-display-setting {
  padding: 0 var(--space-l);
}

.views-ui-display-tab-bucket.views-ui-display-tab-bucket {
  margin: 0;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.form-edit .form-actions {
  margin-top: 0;
  padding: var(--space-s) var(--space-m);
}

.views-query-info table th,
.views-query-info table td {
  padding: var(--space-m);
}

table.permissions .permission {
  font-size: 100%;
  line-height: 120%;
}

table.permissions .permission-warning {
  font-size: 80%;
  line-height: 100%;
}

.module-list__module td {
  padding: var(--space-s);
}

.modules-table-filter {
  padding: var(--space-s);
}

.claro-details__summary.module-list__module-summary::before {
  top: 0.75rem;
}

.claro-details__summary.module-list__module-summary {
  padding-top: 0;
  padding-bottom: 0;
}

.module-details__description {
  font-size: 0.75rem;
  margin-left: 1.5rem;
}

.module-details__requirements {
  margin-bottom: 0;
}

.module-details__links {
  margin-top: 0;
  margin-bottom: 0;
}

.no-touchevents .action-link--small {
  padding: var(--space-s);
}

.no-touchevents .action-link--small+.action-link--small,
.no-touchevents .action-link--extrasmall+.action-link--extrasmall {
  margin-left: 0;
}

.no-touchevents .button--small {
  margin: 0;
}

.system-modules-uninstall .admin-requirements {
  font-size: 0.75rem;
}

.system-modules-uninstall .admin-requirements .item-list li {
  margin-bottom: 0;
}

.block-page-title-block {
  margin-bottom: var(--space-s);
}

.block-admin-display-form .region-empty {
  font-size: 85%;
}

.vertical-tabs__panes a.token-dialog {
  margin-left: var(--space-m);
}

.ck-content p {
  margin-bottom: 0.25rem;
}

.views-ui-dialog .scroll {
  padding: var(--space-m);
}

.views-config-group-region .views-group-box {
  padding: var(--space-s);
}

.views-config-group-region .views-group-box--operator {
  padding-right: var(--space-m);
}

.views-ui-dialog .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.views-config-group-region .views-group-box--value>.form-item {
  margin-left: var(--space-l);
  margin-right: var(--space-m);
}

.views-config-group-region .views-group-box--value>.form-item::after {
  left: calc(var(--space-l) * -1);
  padding: 0 0.2rem 0.2rem 0.2rem;
}

.views-ui-dialog .claro-details {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.views-display-top {
  padding: var(--space-s) var(--space-xs) var(--space-xs) var(--space-xs);
}

.media-library-item__preview .field {
  padding: 0 0.3125rem;
}

.views-bulk-actions {
  background-color: #888;
}

.form-type-physical-measurement {
  display: inline-flex;
  align-items: end;
}

.form-type-commerce-price,
.form-type-commerce-list-price {
  display: inline-flex;
  align-items: center;
}

.entity-meta.accordion .claro-details {
  margin-bottom: 0;
}
